# Data Analyst Intern – Sportradar Challenge - Task 1
Date: 4 July 2024 <br>
Author: Kristina Chuang

## Instructions
- In programmatic advertising, ads (commonly referred to as impressions) are shown on websites with the help of DSPs (Demand Side Platforms). 
- These platforms want to make sure that they are showing the right impressions to the right users to generate as many conversions as possible. 
- If a user clicks on the ad and lands on the advertiser’s website, we store this event in a table called clicks (schema shown below). 
- If the user successfully places a deposit after landing on the advertiser’s website, we store this event in a table called conversions (schema shown below). 
- For each conversion there exists at least one impression, but not all impressions have a conversion or a click.
<br>
You are given 3 tables with the following schemas, defined by column names and types:
### impressions
1. <b>impression_id</b>: string
2. url_address: string
3. user_id: string
4. <b>request_country: string</b> ("Austria")
5. tracking_type: string [this is the tracking type (fingerprinted or cookie-based)]
6. dynamic_display: boolean [this is whether the impression was served through Dynamic Display]
7. dynamic_display_variables: string [content served in the impression, i.e soccer vs baseball]
8. request_browser_name: string
9. timestamp: date 
<br>
### clicks
1. <b>impression_id</b>: int
2. user_id: <i>int</i>
3. timestamp: string
<br>
### conversions
1. conversion_id: string
2. user_id: string
3. dval: integer [this is the deposit value of the conversion]
4. curr: string [this is the currency of the deposit value]
5. timestamp: date

# Q1: What is the CTR (%) for impressions served in "Austria"?

CTR % (Click-Through-Rate) is how many people clicked on an ad (clicks) divided by the number of people who saw it (impressions), in this case exclusively in the country of Austria and expressed as a percentage.

The formula to calculate CTR is (clicks / impressions) x 100.

$$ CTR(AT) = \frac{ "total-clicks-in-Austria" }{ "total-impression-in-Austria" } * 100$$

- create a mock database (ad_data.db) to test the SQL queries in notebook mock_data_ads.ipynb
- The mock database contains:
- 150 records for the table impressions
- 87 records for the table clicks (60% random chance of the impression being clicked)
- 28 records for conversion (supposed to be 35% random chance of click to conversion)

### Load SQL extension to run SQL commands in code cells

In [1]:
#!pip install ipython-sql
%load_ext sql

In [2]:
# connect to mock database

%sql sqlite:///mock_ad_data.db

In [3]:
# enable foreign keys (SQLite specific)
%sql PRAGMA foreign_keys = ON

 * sqlite:///mock_ad_data.db
Done.

[]

- check counts and datatypes

In [5]:
%%sql

SELECT
    'impressions' AS table_name,
    COUNT(*) AS count
FROM impressions

UNION ALL

SELECT
    'clicks' AS table_name,
    COUNT(*) AS count
FROM clicks

UNION ALL

SELECT
    'conversions' AS table_name,
    COUNT(*) AS count
FROM conversions

 * sqlite:///mock_ad_data.db
Done.

[('impressions', 150), ('clicks', 87), ('conversions', 28)]

In [6]:
%sql PRAGMA table_info(impressions)

 * sqlite:///mock_ad_data.db
Done.

[(0, 'impression_id', 'TEXT', 0, None, 1),
 (1, 'url_address', 'TEXT', 0, None, 0),
 (2, 'user_id', 'TEXT', 0, None, 0),
 (3, 'request_country', 'TEXT', 0, None, 0),
 (4, 'tracking_type', 'TEXT', 0, None, 0),
 (5, 'dynamic_display', 'BOOLEAN', 0, None, 0),
 (6, 'dynamic_display_variables', 'TEXT', 0, None, 0),
 (7, 'request_browser_name', 'TEXT', 0, None, 0),
 (8, 'timestamp', 'DATE', 0, None, 0)]

In [7]:
%sql PRAGMA table_info(clicks)

 * sqlite:///mock_ad_data.db
Done.

[(0, 'impression_id', 'INTEGER', 0, None, 0),
 (1, 'user_id', 'INTEGER', 0, None, 0),
 (2, 'timestamp', 'TEXT', 0, None, 0)]

In [8]:
%sql PRAGMA table_info(conversions)

 * sqlite:///mock_ad_data.db
Done.

[(0, 'conversion_id', 'TEXT', 0, None, 1),
 (1, 'user_id', 'TEXT', 0, None, 0),
 (2, 'dval', 'INTEGER', 0, None, 0),
 (3, 'curr', 'TEXT', 0, None, 0),
 (4, 'timestamp', 'DATE', 0, None, 0)]

# Incompatible data types of "clicks" table 
- the clicks table have impression_id and user_id as integer, whilst the same fields are string (TEXT) in the other tables. 
- this should be a problem for other relational database management systems (RDBMS) like Postgres. Specially because they act as foreign keys.
- However, using SQLite it does not seems to matter because the data types are compatible.
- Nonetheless, I will align the data types of "clicks" to match "impressions" and "conversions".
- SQLite does not have an ALTER TABLE clause to change the data types.
### Plan of action
- duplicate the clicks table with the right data types cast.
1. Create a new table with the desired schema
2. Copy data from clicks to clicks_new, converting types
3. ** could drop the old clicks table
4. ** could rename clicks_new to clicks. (but that would alter the original database, so i will just work with table clicks_new.

In [9]:
%%sql

DROP TABLE IF EXISTS clicks_new;
CREATE TABLE clicks_new (
    impression_id TEXT,
    user_id TEXT,
    timestamp DATE
);

INSERT INTO clicks_new (impression_id, user_id, timestamp)

SELECT 
    CAST(impression_id AS TEXT),  
    CAST(user_id AS TEXT),        
    DATE(timestamp)  
FROM clicks;

 * sqlite:///mock_ad_data.db
Done.
Done.
87 rows affected.

[]

In [10]:
# Drop the old clicks table
# DROP TABLE clicks;

# Rename clicks_new to clicks
# ALTER TABLE clicks_new RENAME TO clicks;

In [11]:
%sql PRAGMA table_info(clicks_new)

 * sqlite:///mock_ad_data.db
Done.

[(0, 'impression_id', 'TEXT', 0, None, 0),
 (1, 'user_id', 'TEXT', 0, None, 0),
 (2, 'timestamp', 'DATE', 0, None, 0)]

## Computing CTR for Austria
- Use Common Table Expressions to calculate total impressions and clicks in Austria
- "total_impressions" CTE counts the rows in table impressions that have value 'Austria' in field request_country AS impression_count
- "total_clicks" CTE counts the rows in clicks that have the foreign key in impressions table and request_country is 'Austria' AS click_count
- Finally CTR is calculated by dividing click_count by impression_count (casting to float to ensure that decimals appear) and multiply by 100 to get the percentage.

In [12]:
%%sql

WITH 
total_impressions AS (
    SELECT COUNT(*) AS impression_count
    FROM impressions
    WHERE request_country = 'Austria'
),

total_clicks AS (
    SELECT COUNT(*) AS click_count
    FROM clicks_new
    JOIN impressions ON impressions.impression_id = clicks_new.impression_id
    WHERE impressions.request_country = 'Austria'
)

SELECT 
    ROUND((CAST(click_count AS FLOAT) / CAST(impression_count AS FLOAT)) * 100, 2) AS CTR_Percentage
FROM 
    total_impressions, total_clicks;

 * sqlite:///mock_ad_data.db
Done.

[(65.85,)]

## CTR reflexions and insights
- The mock data was purposely defined as having 60% of the impressions resulting in a click.
-

## Q2: For each converted user, find out how many impressions they were served. Specifically capturing the timestamp for the first & last impression.
- in conversions LEFT JOIN impressions (if converted user was served multiple impressions then other fields NULL) ON user_id
- for each user_id in conversions
- count how many DISTINCT impression_id conversions.user_id was served
- count how many DISTINCT conversion_id (if the same user made a deposit from a different impression)
- give the MIN timestamp of impression table
- give the MAX timestamp of impression table
- group by conversions.user_id
- create a view to check results and length

In [43]:
%%sql

DROP VIEW IF EXISTS conv_imp_view;
CREATE VIEW conv_imp_view AS
SELECT
    conversions.user_id,
    COUNT(DISTINCT impressions.impression_id) AS impression_count,
    COUNT(DISTINCT conversions.conversion_id) AS conversion_count,
    MIN(impressions.timestamp) AS first_impression_timestamp,
    MAX(impressions.timestamp) AS last_impression_timestamp
FROM conversions 
LEFT JOIN impressions ON conversions.user_id = impressions.user_id
GROUP BY conversions.user_id;

 * sqlite:///mock_ad_data.db
Done.
Done.

[]

In [44]:
%sql SELECT * FROM conv_imp_view

 * sqlite:///mock_ad_data.db
Done.

[('10', 3, 1, '2022-11-25', '2023-01-18'),
 ('19', 1, 1, '2023-02-15', '2023-02-15'),
 ('2', 1, 1, '2022-11-23', '2022-11-23'),
 ('23', 4, 1, '2022-11-21', '2023-03-08'),
 ('24', 3, 1, '2022-11-29', '2023-01-13'),
 ('3', 2, 1, '2023-02-26', '2023-03-02'),
 ('30', 6, 2, '2022-11-27', '2023-02-08'),
 ('31', 5, 1, '2022-11-23', '2023-03-05'),
 ('32', 1, 1, '2023-03-19', '2023-03-19'),
 ('35', 2, 1, '2023-01-04', '2023-03-21'),
 ('38', 3, 1, '2022-12-17', '2023-03-04'),
 ('4', 4, 1, '2022-11-28', '2023-03-05'),
 ('40', 3, 1, '2023-01-18', '2023-03-12'),
 ('44', 1, 1, '2023-02-03', '2023-02-03'),
 ('48', 2, 1, '2022-12-22', '2023-02-02'),
 ('50', 6, 2, '2022-12-12', '2023-03-08'),
 ('53', 3, 1, '2022-12-11', '2023-01-18'),
 ('58', 3, 1, '2022-12-14', '2023-02-18'),
 ('62', 4, 1, '2022-12-15', '2023-02-16'),
 ('66', 1, 1, '2022-12-25', '2022-12-25'),
 ('67', 3, 2, '2022-12-18', '2023-03-06'),
 ('68', 3, 1, '2022-12-07', '2023-03-21'),
 ('69', 6, 2, '2022-11-25', '2023-03-12'),
 ('9', 2, 1, '2023-02-09', '2023-03-01')]

In [45]:
%%sql
SELECT COUNT(*) AS number_conversions
FROM conv_imp_view

 * sqlite:///mock_ad_data.db
Done.

[(24,)]

In [15]:
import pandas as pd
df = pd.read_csv('world_cup_data.csv')
df.head()

,date_partition,hour_of_day_utc,country_code,os_name,platform_type,imps,viewable_imps,clicks,reg_fin,ftd,deposit,spend_usd
0,2022-12-02,4,BR,Android,website,263424.0,177356.0,964.0,27.0,20.0,197.0,178.62
1,2022-12-02,14,BR,Windows,website,206976.0,160251.0,509.0,14.0,12.0,128.0,122.47
2,2022-12-02,10,DE,Android,website,5790.0,4501.0,73.0,0.0,0.0,12.0,13.41
3,2022-12-02,9,IN,Android,website,376320.0,188159.0,1437.0,1.0,2.0,10.0,220.12
4,2022-12-02,1,KE,Android,website,34737.0,14405.0,36.0,1.0,0.0,11.0,24.42

In [17]:
df.shape

(659849, 12)