# TASK 2: World Cup 2022
With Euros underway, it is a repetitive task for the team to produce insights around the
importance of sporting events in Ads. Using the attached data, feel free to generate any insights
you think is relevant around what we have seen at the World Cup in 2022 & how this could be
interesting, below are some hints to help you get started
- Q1: Which countries have the largest reduction in Cost per Acquistion (CPA) for different
conversions during the World Cup compared to other date ranges available?
- Q2: What insights could you present which clients might find interesting & encourage them to
spend more on the next major sporting event?
- Q3: Euro 2024 is currently underway; how could you adapt your analysis for this competition
instead? Are there any insights or questions that would be more or less relevant?

In [2]:
import pandas as pd
df = pd.read_csv('data/world_cup_data.csv')
df.head()

,date_partition,hour_of_day_utc,country_code,os_name,platform_type,imps,viewable_imps,clicks,reg_fin,ftd,deposit,spend_usd
0,2022-12-02,4,BR,Android,website,263424.0,177356.0,964.0,27.0,20.0,197.0,178.62
1,2022-12-02,14,BR,Windows,website,206976.0,160251.0,509.0,14.0,12.0,128.0,122.47
2,2022-12-02,10,DE,Android,website,5790.0,4501.0,73.0,0.0,0.0,12.0,13.41
3,2022-12-02,9,IN,Android,website,376320.0,188159.0,1437.0,1.0,2.0,10.0,220.12
4,2022-12-02,1,KE,Android,website,34737.0,14405.0,36.0,1.0,0.0,11.0,24.42

In [3]:
df.shape

(659849, 12)